.items{
  display: flex;
  width: 90%;
  margin:20px auto;
  flex-wrap: wrap;
}

/* Container for Swiper */
.swiper-container {
  margin-top: 80px;
  width: 90%;
  max-width: 1200px; /* Add a maximum width to limit content width */
  margin: 0 auto; /* Center the container horizontally */
}

/* Style for individual items within Swiper */
.contentItem {
  height: 300px;
  width: 230px;
  margin: 20px; /* Add some spacing around items */
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the image within items */
.contentItem img {
  max-width: 100%;
  max-height: 180px; /* Limit the image height */
  margin: 0 auto;
  display: block;
}

/* Style for the "name," "description," and "prix" paragraphs */
.contentItem p {
  margin: 8px 0;
  font-size: 16px;
}

/* Style for the button */
.Btn {
  margin: 12px 85%; /* Center the button */
  width: 80px;
  padding: 12px;
  border-radius: 10px;
  background-color: #66CDAA;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}



.catégoriesvedettes{
  width: 80%;
  margin:30px auto 70px auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}




.catégoriesvedettes .collection-dispo{
  background-color: pink;
  height: 130px;
  width: 250px;
  margin: 1px;
  cursor: pointer;
  color: white;
  align-items: center;
  font-weight: 600;
}

.collection-dispo p{
  margin:50px auto;
  transition: 0.3s;
}


.all{
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
}

.collection-dispo:hover  p{
font-size: 18px;
}



  